/* write your override styles here */

#wall .tag-1, #wall div#tag-2, #wall #tag-3.slick.wicked, #wall div#tag-4, div div div#wall .parent div#tag-5.slick, div#wall div.parent div:last-child div#tag-6 div:only-of-type {
  display: none
}