/* write your override styles here */

#wall .tag-1, #wall div#tag-2, #wall #tag-3.slick.wicked, #wall div#tag-4 {
  display: none
}



div#wall div.parent div:last-child div#tag-6:empty {
  display: none
}